<div class="text-center form-div" >
  <form class="form-signin" (submit)="proceed()">
    <h1 class="h3 mb-3 font-weight-normal">{{msg}}</h1>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">TimeSlot</label>
      <select  name="timeslot" [(ngModel)]="timeSlotModal" class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let i of timeSlotArr" [value]="i">{{i}}</option>
        </select>
    </div>
    <button class="btn btn-lg btn-success btn-block"  type="submit">Proceed</button>
  </form>
</div>


