<div class="form-div">
  <h3>Enter Details</h3>
  <form #f="ngForm" class="form-signin" (submit)="save()">
    <!--<div class="form-group">
      <input class="timeslot" (click)="redirectBack()" type="text" placeholder="TimeSlot" name="timeslot" [(ngModel)]="timeSlot" class="form-control"
        id="exampleFormControlSelect1" readonly >
    </div>-->
    <div class="form-group">
      <input type="text" placeholder="Name" pattern="^[a-zA-Z][a-zA-Z ]*$" #nameModel="ngModel" name="name" [(ngModel)]="name" class="form-control"
        id="exampleFormControlSelect1" required>
      <p *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" class="show-error">Name is required</p>
    </div>
    <div class="form-group">
      <input type="tel" maxlength="10" pattern="^[0-9]+$" placeholder="Phone" #phoneModel="ngModel" name="phone" [(ngModel)]="phone" class="form-control"
        id="exampleFormControlSelect1" required>
      <p *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)" class="show-error" required>Phone is required and should allow only digits</p>
    </div>
    <button class="btn btn-lg btn-success btn-block" [disabled]="!f.valid" type="submit">Submit</button>
    <button class="btn btn-lg btn-default btn-block" type="reset">Cancel</button>
  </form>

</div>
