<div class="form-div">
  <div class="row">
    <div class="col-md-12">

      <h1 class="text-center">You Succesfully Booked Appointment</h1>
      <div class="card" style="width: 15rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: <strong>{{userData?.name}}</strong></li>
          <li class="list-group-item">Phone: <strong>{{userData?.phone}}</strong></li>
          <li class="list-group-item">Time: <strong>{{userData?.timeslot}}</strong></li>
        </ul>
      </div>
      <!--At <button class="btn btn-outline-danger text-center" (click)="redirectBack()">{{userData?.timeslot}}</button>-->
    </div>
  </div>
</div>
