<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">GearUp</a>
    <form class="form-inline" (submit)="proceed()">
      <fieldset (click)="handler()">
        <select [ngClass]="{'timeslot': isDisabled}" name="timeslot" [(ngModel)]="timeSlotModal" class="form-control mr-sm-2" id="exampleFormControlSelect1">
        <option *ngFor="let i of timeSlotArr" [value]="i">{{i}}</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Proceed</button>
      </fieldset>
    </form>
  </nav>
  <div class="body-container">
    <router-outlet></router-outlet>
  </div>
</div>
